### Problem Set 2

<h3>Question 1. Python Module. Importing into the Interpreter and execute</h3>

In [6]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [7]:
b()

In [8]:
b()

In [9]:
b()

In [10]:
a

6

Explanation: At the very first time, the control will go inside b() taking the global value as a = 0, then will come to c(a) by returning the value as 2.
Then again it goes to b() and now the value won't be considered as  a = 0 as we have already defined the value as 2 (global a would remain 2 in this case), it will go to c(a) by returning the value as 4
Then similarly for the third iteration, the value will be printed as 6

<h3>    Question 2. Function FileLength(). takes the name of file as an input and returns the length of file</h3>

In [11]:
def fileLength(Name_Of_File):
    try:
        openFile = open(Name_Of_File, 'r')
        print(len(openFile.read()))

    except FileNotFoundError:
        print("File " + Name_Of_File + " not found.")

fileLength("midterm.py")
fileLength("idterm.py")

239
File idterm.py not found.

<h3>Question 3. Write a class Marsupial  that can be shown as the template. </h3>

In [12]:
class Marsupial:
    def __init__(self):
        "creating empty list"
        self.pouch = []

    def put_in_pouch(self, pouch_Value):
        self.pouch.append(pouch_Value)

    def pouch_contents(self):
        print(self.pouch)

In [13]:
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [14]:
class Kangaroo(Marsupial):
    def __init__(self, horizonatalAxis, verticalAxis):
        "importing all functions from it's parent class Marsupial"
        super().__init__()
        self.horizontalDirection = horizonatalAxis
        self.verticalDirection = verticalAxis

    def jump(self, deltaHorizontal, deltaVertical):
        self.horizontalDirection = self.horizontalDirection + deltaHorizontal
        self.verticalDirection = self.verticalDirection + deltaVertical

    def __str__(self):
        print("I am a Kangaroo located at coordinates (%d, %d)" %(self.horizontalDirection, self.verticalDirection))
        return " "

In [15]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

<h3>Question 4. Write a recursive function collatz for even and odd iterations</h3>

In [16]:
Valid_Flag = "TRUE"
def collatz(checkedVariable):
    if checkedVariable == 1:
        print(1)
    else:
        global Valid_Flag
        if Valid_Flag == "TRUE":
            Valid_Flag = "FALSE"
            print(checkedVariable)
            collatz(checkedVariable)
        else:
            if checkedVariable != 1:
                if checkedVariable % 2 == 0:
                    checkedVariable = checkedVariable / 2
                    if checkedVariable != 1:
                        print(int(checkedVariable))
                    collatz(checkedVariable)
                else:
                    checkedVariable = 3 * checkedVariable + 1
                    print(int(checkedVariable))
                    collatz(checkedVariable)

In [17]:
collatz(10)

10
5
16
8
4
2
1

In [18]:
collatz(1)

1

<h3>Question 5 Write function binary and returns binary value</h3>

In [19]:
def binary(integer):
    binary_As_String = ''
    while(integer > 0):
        check_digit = integer % 2
        binary_As_String += str(check_digit)
        integer = integer // 2
    binary_As_String = binary_As_String[::-1]
    return int(binary_As_String)

In [20]:
binary(10)

1010

In [21]:
binary(1)

1

In [22]:
binary(3)

11

In [23]:
binary(9)

1001

<h3>    Question 6. Implement class Name headingParser that can be used as an HTML document,retrieve and print all the header documents </h3>

In [24]:
import re
from html.parser import HTMLParser
class HeadingParser(HTMLParser):

    def handle_starttag(self, tag, attrs):

        global majorCounter
        matchedRegex = re.match(r'h(\d)', tag, re.I)
        if matchedRegex: majorCounter = int(matchedRegex.group(1))

    def handle_endtag(self, tag):
        matchedRegex = re.match(r'h(\d)', tag, re.I)
        if matchedRegex: majorCounter = 0

    def handle_data(self, data):
        if majorCounter > 0:
            indented_Block = majorCounter - 1
            out = " " * indented_Block
            print(out + data)

infile = open('w3c.html')
content = infile.read()
infile.close()
majorCounter = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

<h3>    Question 7. Implement recursive function webDir() that takes input url as a string </h3>

In [25]:
import requests
from bs4 import BeautifulSoup   

def webdir(checkedUrl, depth, indentation_required):
    resp = requests.get(checkedUrl)
    print(checkedUrl)
    if(depth == indentation_required):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    for link_sorted in soup.findAll('a'):
        link_sorted = link_sorted.get('href')
        if(link_sorted.startswith('https')):
            webdir(link_sorted, depth, indentation_required+1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

<h3>Question 8. Write SQL queries for the given table</h3>

In [27]:
import sqlite3
connectionDb = sqlite3.connect('GOURAV_BDAT.db')
cursorDB = connectionDb.cursor()
cursorDB.execute("create table WEATHER_FORCAST_DISPLAY (City text, Country text, Season text, Temperature float, Rainfall float)")

weather_list = [
    ('Mumbai','India', 'Winter','24.8', '5.9'),
    ('Mumbai','India', 'Spring','28.4', '16.2'),
    ('Mumbai','India', 'Summer','27.9', '1549.4'),
    ('Mumbai','India', 'Fall','27.6', '346.0'),
    ('London','United Kingdom', 'Winter','4.2', '207.7'),
    ('London','United Kingdom', 'Spring','8.3', '169.6'),
    ('London','United Kingdom', 'Summer','15.7', '157.0'),
    ('London','United Kingdom', 'Fall','10.4', '218.5'),
    ('Cairo','Egypt', 'Winter','13.6', '16.5'),
    ('Cairo','Egypt', 'Spring','20.7', '6.5'),
    ('Cairo','Egypt', 'Summer','27.7', '0.1'),
    ('Cairo','Egypt', 'Fall','22.2', '4.5')
]
cursorDB.executemany("insert into WEATHER_FORCAST_DISPLAY values (?, ?, ?, ?, ?)", weather_list)
connectionDb.commit()
cursorDB.execute("select Season from WEATHER_FORCAST_DISPLAY")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Winter',)
('Spring',)
('Summer',)
('Fall',)
('Winter',)
('Spring',)
('Summer',)
('Fall',)
('Winter',)
('Spring',)
('Summer',)
('Fall',)

In [28]:
cur.execute("select Temperature from WEATHER_FORCAST_DISPLAY")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [29]:
cur.execute("select DISTINCT City from WEATHER_FORCAST_DISPLAY")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Mumbai',)
('London',)
('Cairo',)

In [30]:
cur.execute("select * from WEATHER_FORCAST_DISPLAY where Country='India'")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [31]:
cur.execute("select * from WEATHER_FORCAST_DISPLAY where Season='Fall'")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [32]:
cur.execute("SELECT  City, Country, Season, AVG(Rainfall) FROM WEATHER_FORCAST_DISPLAY GROUP BY Rainfall Having AVG(Rainfall) BETWEEN 200 AND 400;")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('London', 'United Kingdom', 'Winter', 207.7)
('London', 'United Kingdom', 'Fall', 218.5)
('Mumbai', 'India', 'Fall', 346.0)

In [33]:
cur.execute("select City, Country, AVG(Temperature) FROM WEATHER_FORCAST_DISPLAY WHERE Season = 'Fall' group by Temperature HAVING AVG(Temperature) > 20")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

In [34]:
cur.execute("select City, SUM(Rainfall) FROM WEATHER_FORCAST_DISPLAY where City='Cairo'")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Cairo', 27.6)

In [35]:
cur.execute("select Season, SUM(Rainfall) FROM WEATHER_FORCAST_DISPLAY group by Season")
for per_Record_Display in cursorDB:
    print(per_Record_Display)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

<h3>Question 9. Write list iterations for a given set of string values</h3>

<h3>9(a). All Upper case letters as per list</h3>

In [39]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

wordsCapitalCase = [word.upper() for word in words]
print(wordsCapitalCase)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<h3>9(a). All lower case letters as per list</h3>

In [40]:
words_lower = [word.lower() for word in words]
print(words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<h3>9(a). Word counts as per list</h3>

In [41]:
sizes = []
for counter in words:
    sizes.append(len(counter))     
print(sizes)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<h3>9(a). All 3 upper case, lower case and count in individual list</h3>

In [42]:
counter = 0
singleCombination = []

for word in words:
    singleCombination.append(wordsCapitalCase[counter])
    singleCombination.append(words_lower[counter])
    singleCombination.append(sizes[counter])
    counter = counter + 1

delimiter_per_space = 3
final_resultant = [singleCombination[additor:additor+delimiter_per_space] for additor in range(0, len(singleCombination), delimiter_per_space)]
print(final_resultant)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

<h3>9(a). Words length more than or equal to 4</h3>

In [43]:
fourList = []
for word in words:
    counter = 0
    if len(word) >= 4:
        fourList.append(word)
    counter = counter + 1
print(fourList)

['quick', 'brown', 'jumps', 'over', 'lazy']